<head>
  <link href="../../assets/css/bootstrap.min.css" rel="stylesheet" />
  <link href="../../assets/css/themify-icons.css" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
</head>

<body>
<div class="sidebar-wrapper">
  <div class="logo">
    <a href="http://www.creative-tim.com" class="simple-text">
      Creative Tim
    </a>
  </div>

  <ul class="nav">
    <li class="active">
      <a href="dashboard">
        <i class="fas fa-school fa-2x"></i>
        <p>Dashboard</p>
      </a>
    </li>
    <li>
      <a href="profile">
        <i class="far fa-user fa-2x"></i>
        <p>User Profile</p>
      </a>
    </li>
    <li>
      <a href="#">
        <i class=""></i>
        <p>Table List</p>
      </a>
    </li>
    <li>
      <a href="#">
        <i class=""></i>
        <p>Typography</p>
      </a>
    </li>
    <li>
      <a href="#">
        <i class=""></i>
        <p>Icons</p>
      </a>
    </li>
    <li>
      <a href="#">
        <i class="ti-map"></i>
        <p>Maps</p>
      </a>
    </li>
    <li>
      <a href="#">
        <i class="ti-bell"></i>
        <p>Notifications</p>
      </a>
    </li>
    <li class="active-pro">
      <a href="">
        <i class="ti-export"></i>
        <p>LogOut</p>
      </a>
    </li>
  </ul>
</div>

</body>




