@import "../side-bar/side-bar.component.css"; /* imprting the side bar css files */



/***************  Search section Stylings *****************/
.drawer{
  background-color: rgba(34,32,47,0.96);
}
.search{
  margin-left: 50px;
  margin-top: 20px;
}
mem_search {
  align-items: flex-start;
  min-width: 250px;
  max-width: 500px;
  width: 100%;
}
#searchSection{
  display: flex;
  flex-direction: row;
}
#btnAddNew{
  display: flex;
  background-color: #25bd1d;
  font-weight: 500;
  font-size: large;
  align-self: center;
  margin-left: 50px;
}

.mem_search_suggestions {
  min-width: 200px;
  max-width: 500px;
}
/***********    members profile card stylings *********************/
.memProfile{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.memProfileDetails{
  background-color: #f9f2f4;
}
#memberPicCard{
  background-color: transparent;
  /*align-self: flex-start;*/
  align-self: flex-start;
  margin-left: auto;

}

#memberPic{
  height: 100px;
  width: 100px;

}

#leaderPicCard{
  background-color: transparent;
  display: flex;
  align-self: flex-start;
  flex-direction: column;
  align-items: center;
}
#leaderPicCard_content{
  display: flex;
  flex-direction: column;
  align-items: center;
}
#leaderPic{
  height: 50px;
  width: 50px;
}
 #leaderPic_lbl{
   font-size: large;
   color: rgba(57,70,182,0.89);
   font-weight: 600;

   font-family: "Adobe Ming Std L";
 }
 .leaderPic_details{
   font-weight: 600;
   font-size: medium;
   color: #204d74;
 }

.memInfoSummary {
  display: flex;
  flex-direction: column;
}
.lbl_head{
  padding-bottom: 20px;
  font-size: medium;
  color: #761c19;

  font-family: "Adobe Ming Std L";
}
.lbl_values{
  font-family: Algerian;
  color: #1b6d85;
  font-size: xx-large;
}

/********   left pane stylings ************/
#left_pane{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;

  align-items: flex-start;
}

#center_pane{
  diplay:flex;
  flex-direction: column;
  align-self: flex-start;
  align-items: flex-start;
}
mat-expansion-panel-header{
  width: inherit;
}
mat-panel-title{
  width: 200%;
}

/*.left_expPannel{*/
  /*display: flex;*/
  /*align-self: stretch;*/
  /*flex-direction: column;*/
/*}*/

/*.left_expPannel_head{*/
  /*width: 100%;*/
  /*display: flex;*/
  /*align-self: stretch;*/
/*}*/
#personalDetails{
  display: flex;
  align-items: flex-start;
  /*width: 150%;*/
}
/*.leftPannel_list{*/
/*width: 200%;*/
/*}*/



/************* section center info stylings *********/

#center_des{
  font-weight: 600;
}


/*************    Right pane *********************/
#right_pane{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
