<p>
  <mat-drawer-container class="example-container">
    <mat-drawer mode="side" class="drawer" opened="true">
      <app-side-bar></app-side-bar>
    </mat-drawer>
    <mat-drawer-content>
      <section class="search" id="searchSection">
        <form class="mem_search">

          <mat-form-field class="mem_search_suggestions"> <!-- creating the form fild -->
            <input #nameInput  type="text" placeholder="search by name"  matInput [formControl]="searchNicForm" [matAutocomplete]="auto"
              (keyup.enter)="onNameEnter(nameInput.value)" >
            <!-- declaring the form control-->
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option  *ngFor="let option of filteredOptions | async " [value]="option" >
                {{ option }}
              </mat-option>
              <!-- adding filtered list of elements to the pane-->
            </mat-autocomplete>
          </mat-form-field>

        </form>
        <button mat-raised-button color="primary" id="btnAddNew" (click)="openAddLoan()"> Add new </button>
      </section>

      <section class="member_card">
        <mat-card class="memProfileDetails">
          <mat-grid-list cols="3" rowHeight="5:2">
            <!-- grid list of 3 coloums , 5:2 row length : height ratio is created -->
            <mat-grid-tile class="memProfile" colspan="1">
              <!--  this will take one coloumn ,  indicated by colspan-->
              <mat-card id="memberPicCard" >
                <img id="memberPic" src="../../assets/images/img.png">
              </mat-card>
              <mat-card id="leaderPicCard">
                <mat-card-content id="leaderPicCard_content">
                  <img id="leaderPic" src="../../assets/images/img.png">
                  <label id="leaderPic_lbl" > {{leaderName}}</label>
                </mat-card-content>
                <label class="leaderPic_details"> {{teamName}}</label>
                <label class="leaderPic_details" > {{centerName}}</label>
              </mat-card>

            </mat-grid-tile>
            <mat-grid-tile class="memInfoSummary" colspan="2">
              <mat-card  >
                <label class="lbl_head"> Loan Amount </label>
                <mat-card-content>
                  <label class="lbl_values"> Rs. {{loanAmount}}</label>
                </mat-card-content>
              </mat-card>
              <mat-card  >
                <label class="lbl_head"> Should Pay </label>
                <mat-card-content>
                  <label class="lbl_values"> Rs. {{shouldPay}}</label>
                </mat-card-content>
              </mat-card>
              <mat-card>
                <label class="lbl_head"> Paid </label>
                <br>
                <label class="lbl_values">Rs. {{paid}}</label>
              </mat-card>
              <mat-card>
                <label class="lbl_head"> Attendence </label>
                <br>
                <label class="lbl_values"> {{attedencePercent}}%</label>
              </mat-card>

            </mat-grid-tile>
            <!-- this would take 2 coloums , indicated by colspan-->
            <!-- if we keep on adding list items they will add creating new row after 3 coloums are filled-->

          </mat-grid-list>
        </mat-card>
      </section>

      <mat-grid-list cols="2">
        <mat-grid-tile >
          <div id="left_pane" >
            <section id="personalDetails">
              <mat-expansion-panel class="left_expPannel" >
                <mat-expansion-panel-header class="left_expPannel_head">
                  <mat-panel-title>
                    Personal details
                  </mat-panel-title>
                  <mat-panel-description>
                    <button mat-icon-button color="primary" (click)="personalDetEdit()">
                      <i class="fas fa-edit fa-2x"></i>
                    </button>

                  </mat-panel-description>
                </mat-expansion-panel-header>
                <mat-list class="leftPannel_list">
                  <mat-list-item class="pd_info"> NIC : {{nic}} </mat-list-item>
                  <mat-divider></mat-divider>
                  <mat-list-item class="pd_info"> full name : {{name}} </mat-list-item>
                  <mat-divider></mat-divider>
                  <mat-list-item class="pd_info"> birthday : {{birtdate}}</mat-list-item>
                  <mat-divider></mat-divider>
                  <mat-list-item class="pd_info"> address : {{address}}</mat-list-item>
                  <mat-divider></mat-divider>
                  <mat-list-item class="pd_info"> status : {{status}}</mat-list-item>
                </mat-list>

              </mat-expansion-panel>
            </section>

            <section id="assets">
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Assts and Belongings
                  </mat-panel-title>
                  <mat-panel-description>
                    <button mat-icon-button color="primary" (click)="assetsEdit()">
                      <i class="fas fa-edit fa-2x"></i>
                    </button>
                  </mat-panel-description>
                </mat-expansion-panel-header>
                <mat-list *ngFor="let asset of fixedAssetCollection">

                    <mat-expansion-panel>
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                          {{asset.name}}
                        </mat-panel-title>
                      </mat-expansion-panel-header>
                      <mat-list >
                        <mat-list-item>lifetme : {{asset.lifeTime}}</mat-list-item>
                        <mat-list-item>value : {{asset.value}}</mat-list-item>
                        <mat-list-item>descrption :{{asset.description}}</mat-list-item>
                      </mat-list>
                    </mat-expansion-panel>
                </mat-list>
              </mat-expansion-panel>
            </section>

            <section id="centerDetails">
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Center  Details
                  </mat-panel-title>
                  <mat-panel-description id="center_des">
                    <button mat-icon-button color="primary" (click)="centerEdit()">
                      <i class="fas fa-edit fa-2x"></i>
                    </button>
                  </mat-panel-description>
                </mat-expansion-panel-header>

                <mat-list>
                  <mat-list-item> name : {{center.name}}</mat-list-item>
                  <mat-list-item> address : {{center.address}}</mat-list-item>
                  <mat-list-item> status : {{center.status}}</mat-list-item>
                </mat-list>
              </mat-expansion-panel>
            </section>

          </div>

        </mat-grid-tile>

        <mat-grid-tile>
          <div id="right_pane">
            <section id="loanCycle_05">
              <mat-list *ngFor="let loanCycle of loanCycleInfo">
                <mat-expansion-panel>
                  <mat-expansion-panel-header class="right_expPannel_head">
                    <mat-panel-title>
                      {{loanCycle.ref}}
                    </mat-panel-title>
                    <mat-panel-description>
                      <button mat-icon-button color="primary" (click)="loanCycleEdit()">
                        <i class="fas fa-edit fa-2x"></i>
                      </button>
                    </mat-panel-description>
                  </mat-expansion-panel-header>
                  <mat-list class="leftPannel_list">
                    <mat-list-item class="lc_info"> loan Amount : {{loanCycle.amount}} </mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item class="lc_info"> intrest rate : {{loanCycle.intRate}} </mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item class="lc_info"> compounded : {{loanCycle.comp}} </mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item class="lc_info"> granted date : {{loanCycle.grantedDate}} </mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item class="lc_info"> due date : {{loanCycle.dueDate}} </mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item class="lc_info"> status date : {{loanCycle.status}} </mat-list-item>
                    <mat-divider></mat-divider>

                  </mat-list>

                </mat-expansion-panel>
              </mat-list>

            </section>
          </div>
        </mat-grid-tile>

      </mat-grid-list>

      <div>

      </div>
    </mat-drawer-content>
  </mat-drawer-container>

</p>
