<p>
  <mat-drawer-container class="example-container">
    <mat-drawer mode="side" class="drawer" opened="true">
      <app-side-bar></app-side-bar>
    </mat-drawer>
    <mat-drawer-content>
      <section class="search">
        <form class="mem_search">

          <mat-form-field class="mem_search_suggestions"> <!-- creating the form fild -->
            <input  type="text" placeholder="search by name"  matInput [formControl]="searchNicForm" [matAutocomplete]="auto" >
            <!-- declaring the form control-->
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option  *ngFor="let option of filteredOptions | async " [value]="option" >
                {{ option }}
              </mat-option>
              <!-- adding filtered list of elements to the pane-->
            </mat-autocomplete>
          </mat-form-field>
        </form>
      </section>

      <section class="member_card">
        <mat-card class="memProfileDetails">
          <mat-grid-list cols="3" rowHeight="5:2">
            <mat-grid-tile class="memProfile" colspan="1">
              <mat-card id="memberPicCard" >
                <img id="memberPic" src="../../assets/images/img.png">
              </mat-card>
              <mat-card id="leaderPicCard">
                  <mat-card-content id="leaderPicCard_content">
                    <img id="leaderPic" src="../../assets/images/img.png">
                    <label id="leaderPic_lbl" > {{leaderName}}</label>
                  </mat-card-content>
                  <label class="leaderPic_details"> {{teamName}}</label>
                  <label class="leaderPic_details" > {{centerName}}</label>
              </mat-card>

            </mat-grid-tile>
            <mat-grid-tile class="memInfoSummary" colspan="2">
              <mat-card  >
                <label class="lbl_head"> Loan Amount </label>
                <mat-card-content>
                  <label class="lbl_values"> Rs. {{loanAmount}}</label>
                </mat-card-content>
              </mat-card>
              <mat-card  >
                <label class="lbl_head"> Should Pay </label>
                <mat-card-content>
                  <label class="lbl_values"> Rs. {{shouldPay}}</label>
                </mat-card-content>
              </mat-card>
              <mat-card>
                <label class="lbl_head"> Paid </label>
                <br>
                <label class="lbl_values">Rs. {{paid}}</label>
              </mat-card>
              <mat-card>
                <label class="lbl_head"> Attendence </label>
                <br>
                <label class="lbl_values"> {{attedencePercent}}%</label>
              </mat-card>

            </mat-grid-tile>

          </mat-grid-list>
        </mat-card>
      </section>

      <mat-grid-list cols="2">
        <mat-grid-tile >
          <div id="left_pane">
            <section id="personalDetails">
              <mat-expansion-panel class="left_expPannel">
                <mat-expansion-panel-header class="left_expPannel_head">
                  <mat-panel-title>
                    Personal details
                  </mat-panel-title>
                  <mat-panel-description>
                    {{nic}}
                  </mat-panel-description>
                </mat-expansion-panel-header>
                <mat-list class="leftPannel_list">
                  <mat-list-item class="pd_info"> full name : {{name}} </mat-list-item>
                  <mat-divider></mat-divider>
                  <mat-list-item class="pd_info"> age : {{age}}</mat-list-item>
                </mat-list>

              </mat-expansion-panel>
            </section>

            <section id="assets">
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Assts and Belongings
                  </mat-panel-title>
                  <mat-panel-description>
                    {{nic}}
                  </mat-panel-description>
                </mat-expansion-panel-header>

                <mat-form-field>
                  <input matInput placeholder="First name">
                </mat-form-field>

                <mat-form-field>
                  <input matInput placeholder="Age">
                </mat-form-field>
              </mat-expansion-panel>
            </section>

            <section id="centerDetails">
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Center Details
                  </mat-panel-title>
                  <mat-panel-description id="center_des">
                    <button mat-icon-button color="primary">

                    </button>
                  </mat-panel-description>
                </mat-expansion-panel-header>

                <mat-form-field>
                  <input matInput placeholder="First name">
                </mat-form-field>

                <mat-form-field>
                  <input matInput placeholder="Age">
                </mat-form-field>
              </mat-expansion-panel>
            </section>

          </div>

        </mat-grid-tile>

        <mat-grid-tile>
          <div id="right_pane">
            <section id="loanCycle_05">
              <mat-expansion-panel>
              <mat-expansion-panel-header class="right_expPannel_head">
                <mat-panel-title>
                  Loan Cycle 05
                </mat-panel-title>
                <mat-panel-description>

                </mat-panel-description>
              </mat-expansion-panel-header>
              <mat-list class="leftPannel_list">
                <mat-list-item class="lc_info"> loan Amount : 12500 </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item class="lc_info"> attendace : 85%</mat-list-item>
              </mat-list>

              </mat-expansion-panel>
            </section>
          </div>
        </mat-grid-tile>

      </mat-grid-list>

      <div>

      </div>
    </mat-drawer-content>
  </mat-drawer-container>

</p>
